---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About When Shes Thai"
        pubDate={new Date('April 24, 2025')}
  	heroImage=""
 >

	<p>
		fill this out at some point 
	</p>
<div id="paypal-container-LSGDYFUZNAMAS"></div>
<script>
  paypal.HostedButtons({
    hostedButtonId: "LSGDYFUZNAMAS",
  }).render("#paypal-container-LSGDYFUZNAMAS")
</script>
</Layout>
