---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About When Shes Thai"
        pubDate={new Date('April 24, 2025')}
  	heroImage=""
 >

	<p>
		fill this out at some point 
	</p>


<script 
  src="https://www.paypal.com/sdk/js?client-id=BAAipH-NuT91QOUMjPURKyLYnVmmLcJd8G1sL-kFiayuv08Ved_9DZ5calv2-a5Vq5mrUTvcng9QWOnTs4&components=hosted-buttons&disable-funding=venmo&currency=NZD">
</script>

</Layout>
