---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
                        <h1>Currently Working on this stuff be patient please UWU UWU UWU UWU</h1>
                        <h6> grappiee was here </h6>

 ![Alt text](https://media.discordapp.net/attachments/841335297120010291/1365416903325257749/wsticon.png?ex=680d3b15&is=680be995&hm=5d4aed6064ed626f0a702294507f2fde6da2a8b2835ece40723630b7ed38be1c&=&format=webp&quality=lossless)
      
                 </p>

		</main>
		<Footer />
	</body>
</html>
