---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
                        <h2>Welcome to When Shes Thai</h2>

                <h3>You will find many things such as Thailand locations, Thai content creators and more</h3>













                       
     
                 </p>

		</main>
		<Footer />
	</body>
</html>
